<html>
    <head>
        <title>
            <%=title%>
        </title>
    </head>
    <body>
          <h1>Practice in Playground</h1>
          <ul>
            <% for(let i=0;i<8;i++){%>

              <li>
                <%=i%>
              </li>
                <%}%>
          </ul>
          <% if(true){%>
                <h2>It is true</h2>
            <%}else{%>{
                <h2>it is False</h2>
                <%}
                %>
    </body>
</html>